<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.teocci.udpsimglethread">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.OptionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CallModeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ClientModeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ServerModeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MakeCallActivity"
            android:label="@string/title_activity_make_call"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ReceiveCallActivity"
            android:label="@string/title_activity_receive_call"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>